.Button {
  --color: var(--green-hsl);

  background-color: transparent;
  border: 1px solid hsl(var(--color));
  border-radius: 3px;
  box-shadow: 0 0 3px hsla(var(--color), 0.5);
  color: hsl(var(--color));
  font: inherit;

  padding: 0.3em 1em;
}

.Button:hover {
  box-shadow: 0 0 6px hsla(var(--color), 0.75);
}

.Button:active {
  background-color: hsla(var(--color), 0.1);
}

.Button:disabled {
  background-color: hsla(var(--gray-1-hsl), 0.1);
  border-color: hsl(var(--gray-1-hsl));
  box-shadow: none;
  color: var(--gray-3)
}

.Button.Secondary {
  --color: var(--blue-hsl);
}
